#add_task_div {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

input#add_task {
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    border: 3px solid #dfb046;
    border-inline-end: none;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;

    /* background-color: rgb(0, 0, 0); */
    padding-inline: 20px;
    font-size: 20px;
}

input::placeholder {
    color: black;
    /* color: #fff; */
    opacity: 40%;
}

#add_button {
    width: 20%;
    height: 50px;
    background-color: #dfb046;
    border: none;
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}

#add_button:focus {
    outline: none;
}

@media (max-width: 600px) {
    #add_task_div {
        width: 90vw;
    }

    input#add_task {
        border-width: 1px !important;
    }

    #add_button {
        font-size: 18px;
    }
}