h1 {
    font-size: 40px;
    color: #dfb046;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-weight: normal;
}

#tasks_container {
    width: 500px;
    max-height: 66vh;
    overflow-y: scroll;
    margin: 0 auto;
    border-radius: 14px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#theme_and_lang {
    padding-inline: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width: 600px) {
    #tasks_container {
        width: 90%;
        max-height: 62vh;
        padding: 6PX;
        font-size: 14px;
        gap: 8px;
        border-width: 1px !important;
    }
}